nav,
section {
    display: block;
}
html {
	font-family: "Comic Sans MS", cursive, sans-serif;	
    background: #fff; 
    color: #000; 
    font-size: 100%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

body{
	margin: 0 auto;
}
h1{
	font-size: 600%;
	text-align: center;
	margin-top: 10%;
}
.panel{
	position: relative;
	border: 5px solid black;
	margin: 3px;
	background: #add9e4; /* Old browsers */
	background: -moz-linear-gradient(top,  #add9e4 0%, #f7fbfc 79%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#add9e4), color-stop(79%,#f7fbfc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #add9e4 0%,#f7fbfc 79%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #add9e4 0%,#f7fbfc 79%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #add9e4 0%,#f7fbfc 79%); /* IE10+ */
	background: linear-gradient(to bottom,  #add9e4 0%,#f7fbfc 79%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#f7fbfc',GradientType=0 ); /* IE6-9 */

}
nav{
	z-index: 300;
	position: fixed;
	top: 25%;
	left:-30px;
	transition:left 1s;
	-webkit-transition:left 1s;
	&:hover{
		left:-2px;
	}
	ul{
		padding: 0;
		list-style: 0;
		list-style-image: 0;
		opacity: 0.3;	
		border: 2px solid black;
		transition:opacity 1s, background 1s;	
		-webkit-transition:opacity 1s, background 1s;	
		&:hover{
			opacity: 1;	
			background: #ffffff;
		}
	}
}
a{
	position: relative;
	padding: 5px;
	display: block;
	color: black;
	text-decoration: none;
	transition:color 0.3s, background 0.3s;	
	-webkit-transition:color 0.3s, background 0.3s;	
	&:hover, &:focus{
		background: black;
		color: white;
		outline: 0;
	}
	&.onThis:before{
			border: solid transparent;
			content: '';
			position: absolute;
			height: 0;
			width: 0;
			right:-22px;
			border-left-color: #000000;
			border-width: 9px;
			top: 6px;
	}
}

#cloud-small, #cloud-med, #cloud-big {
	position: absolute;
	width: 100%;
    height: 300px;
    bottom: 0;
}
#cloud-small{  background:url(/peanuts/img/clouds3.png) repeat-x; opacity: .8}
#cloud-med{ background:url(/peanuts/img/clouds2.png) repeat-x; opacity: .9}
#cloud-big{  background:url(/peanuts/img/clouds.png)repeat-x center; opacity: .95 }

.cell{
	position: absolute;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}
#frame1-grass{background: url(/peanuts/img/frame1-grass.png) no-repeat bottom; background-size: 100%;}
#frame2-grass{background: url(/peanuts/img/frame2-grass.png) no-repeat bottom; background-size: 100%;}
#frame3-grass{background: url(/peanuts/img/frame3-grass.png) no-repeat bottom; background-size: 100%;}
#frame4-grass{background: url(/peanuts/img/frame4-grass.png) no-repeat bottom; background-size: 100%;}

#frame1-snoop{background: url(/peanuts/img/frame1-snoop.png) no-repeat left bottom; background-size: auto 100%;}
#frame1-ball{background: url(/peanuts/img/frame1-ball.png) no-repeat 20% 40%; background-size: 40%}

#frame2-woodstock{background: url(/peanuts/img/frame2-woodstock.gif) no-repeat 60% 70%; background-size: 50%;}

#frame3-bonk{background: url(/peanuts/img/frame3-bonk.png) no-repeat 70%; background-size: auto 100%; 
	bottom: 0; 
	opacity: 0; 
	height: 0;
}
#frame3-ball{background: url(/peanuts/img/frame3-ball.png) no-repeat; background-size: 30%}
#frame3-ball-rotate{background: url(/peanuts/img/frame3-ball-rotate.gif) no-repeat; background-size: 30%; opacity: 0;}

#frame4-snoop{background: url(/peanuts/img/frame4-snoop.png) no-repeat 25% bottom; background-size:auto 100%;}

#bg4-3{
	position: absolute;
	bottom: 55%;
	left:47%;
	height: 0;
}

